<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Регистрация пользователя</title>
  <style type="text/css">
    .field {
      clear: both;
      text-align: right;
      line-height: 25px;
    }

    label {
      float: left;
      padding-right: 10px;
    }

    .main {
      float: left
    }

  </style>
</head>
<body>
<form action="#" th:action="@{/person/registration}" method="post" enctype="multipart/form-data">
  <div class="main">
    <div class="field">
      <label for="n">Фамилия</label>
      <input type="text" th:value="${personDTO.threeName}" name="threeName">
    </div>
    <div class="field">
      <label for="n">Имя</label>
      <input type="text" th:value="${personDTO.firstName}" name="firstName">
    </div>
    <div class="field">
      <label for="n">Отчество</label>
      <input type="text" th:value="${personDTO.secondName}" name="secondName">
    </div>
    <div class="field">
      <label for="n">Мероприятие</label>
      <select th:value="${eventDTO}" name="event">
        <option value="0">Выбирете мероприятие</option>
        <option th:each="event : ${eventList}" th:value="${eventDTO}"
                th:text="${event.getName()}"></option>
      </select>
    </div>
    <div class="field">
      <label for="n">Роль</label>
      <select name="role">
        <option value="0">Выбирете роль</option>
        <option th:each="role : ${roleList}" th:value="${roleDTO.name}"
                th:text="${role.getName()}"></option>
      </select>
    </div>
    <div class="field">
      <label for="n">Дополнительные парамертры</label>
      <table>
        <tr th:each="p: ${mapParamDTOValueDTO.getMap()}">
          <td th:text="${p.getKey().getName()}"/>
          <td><input type="text" th:value="*{p.getValue().value}" name="value"></td>
        </tr>
      </table>
    </div>
    <div class="field">
      <label for="n">Загрузите файл</label>
      <input type="file" name="file">
    </div>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
  </div>
  <img th:src="${fileName}">
</form>
</body>
</html>