<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Регистрация пользователя</title>
  <style type="text/css">
    .field {
      clear: both;
      text-align: right;
      line-height: 25px;
    }

    label {
      float: left;
      padding-right: 10px;
    }

    .main {
      float: left
    }
  </style>
</head>
<body>
<form action="#" th:action="@{/registration}" method="post" enctype="multipart/form-data">
  <div class="main">
    <div class="field">
      <label for="n">Фамилия</label>
      <input type="text" th:value="${userDTO.lastName}" name="lastName">
    </div>
    <div class="field">
      <label for="n">Имя</label>
      <input type="text" th:value="${userDTO.firstName}" name="firstName">
    </div>
    <div class="field">
      <label for="n">Отчество</label>
      <input type="text" th:value="${userDTO.middleName}" name="middleName">
    </div>
    <div class="field">
      <label for="n">Мероприятие</label>
      <select th:value="${userDTO.event}" name="event">
        <option th:value="first">Мероприятие 1</option>
        <option th:value="second">Мероприятие 2</option>
      </select>
    </div>
    <div class="field">
      <label for="n">Роль</label>
      <select th:value="${}" name="event">
        <option th:value="Participant">Участник</option>
        <option th:value="Accompanying">Сопровождающий</option>
      </select>
    </div>
    <div class="field">
      <select th:field="*{gun}">
        <option th:value="Bow">Лук</option>
        <option th:value="Crossbow">Арболет</option>
      </select>
    </div>
    <div class="field">
      <label for="n">Загрузите файл</label>
      <input type="file" name="file">
    </div>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
  </div>
</form>
</body>
</html>